<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a class="active" href="/add-item">Add Product</a></li>
                <li class="main-header__item"><a href="/product">Products</a></li>
                <li class="main-header__item"><a href="/Cart">Cart</a></li>
                <li class="main-header__item"><a href="/Order">Order</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form class="product-form" action="/add-item" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="">
            </div>
            <div class="form-control">
                <label for="desc">Product Description</label>
                <input type="string" name="desc" id="">
            </div>
            <div class="form-control">
                <label for="size">Size</label>
                <input type="text" name="size" id="">
            </div>
            <div class="form-control">
                <label for="color">Color</label>
                <input type="text" name="color" id="">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" name="price" id="">
            </div>
            <div class="form-control">
                <label for="img">Image</label>
                <input type="image" name="img" id="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxm7PdXxZp2psxs3AbSNX-H0L7W5HEVE_mSQ&usqp=CAU", alt="T-shirt">
            </div>
            <button type="submit">Add Product</button>
        </form>
    </main>
</body>

</html>
