<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/">Shop</a></li>
            <li class="main-header__item"><a href="/add-item">Add Product</a></li>
            <li class="main-header__item"><a href="/product">Products</a></li>
            <li class="main-header__item"><a href="/Cart">Cart</a></li>
            <li class="main-header__item"><a href="/Order">Order</a></li>
        </ul>
    </nav>
</header>