<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('./adminNavBar.ejs'); %>

<h2 style="text-align:center">Item Card</h2>

<div class="card">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxm7PdXxZp2psxs3AbSNX-H0L7W5HEVE_mSQ&usqp=CAU" style="width:100%">
  <h1>Item</h1>
  <p class="price">$19</p>
  <p><button>Pressed to Check Out</button></p>
</div>

</body>
</html>
