<nav class="navbar">
    <!-- LOGO -->
    <div class="logo"><a href="/" style="color: white">Clothes.</a></div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
        <!-- NAVIGATION MENUS -->
        <div class="menu">
            <li>
                <input class="searchbar" type="text" placeholder="Search.." />
            </li>

            <li class="services">
                <div>
                    <i href="" class="fas fa-angle-down"></i>
                    <a href="/">Browse</a>
                </div>

                <!-- DROPDOWN MENU -->
                <ul class="dropdown">
                    <li><a href="/">All products</a></li>
                    <li><a href="/">Shirts</a></li>
                    <li><a href="/">Pants</a></li>
                    <li><a href="/">Shoes</a></li>
                    <li><a href="/">Accessories</a></li>
                </ul>
            </li>
            <li><a href="/">About us</a></li>
            <div>
                <li>
                    <i href="" class="fas fa-shopping-cart"></i>
                    <a href="/">Cart</a>
                </li>
            </div>

            <div>
                <li>
                    <i href="/login" class="fas fa-user"></i>
                    <% if(user) { %>
                    <a href="/logout">Logout</a>
                    <% } else { %>
                    <a href="/login">Login</a>
                    <% } %>
                </li>
            </div>
        </div>
    </ul>
</nav>
