<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<body>
<div class="hero">
    <a class="back-btn" href = "/">Back</a>
    <div class="form-box">

        <form id="login" class="input-group" action="/sendForgotPasswordEmail" method="POST">
            <input id="email" name="email" type="text" class="input-field" placeholder="Email" required>
            <button type="submit" class="submit-btn">Forgot Password</button>
        </form>
    </div>
</div>
<script src="/controller/login.js"></script>
</body>
</html>
