<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<body>
<div class="hero">
    <a class="back-btn" href = "/">Back</a>
    <div class="form-box">

        <form id="login" class="input-group" action="/changePassword/<%=id%>/<%= resetToken%>>" method="POST">
            <input id="password" name="password" type="password" class="input-field" placeholder="New Password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" title="Minimum 8 characters, at least 1 letter, 1 number and 1 special character" required>
            <button type="submit" class="submit-btn">Change Password</button>
        </form>
    </div>
</div>
<script src="/controller/login.js"></script>
</body>
</html>
